__pycache__/
*.pyc
*.pyo
*.pyd


venv/
.venv/
img-detection-venv/
uploads/

.python-version

# .ipynb_checkpoints/

*.zip
Srintami-Transmission.v4i.yolov8.zip
Srintami-Transmission.v5i.yolov8.zip

.DS_Store