__pycache__/
*.pyc
*.pyo
*.pyd


venv/
.venv/
.env
img-detection-venv/
uploads/
demo_similarity/
demo_llm/

.python-version

# .ipynb_checkpoints/

*.zip
Srintami-Transmission.v7i.yolo26.zip
Srintami-Transmission.v5i.yolov8.zip

.DS_Store